<h1>
  RSS Reader
</h1>

<app-sw-sandbox></app-sw-sandbox>

<div class="container feed-load" [hidden]="!isSubmitted">
    <div class="progress">
      <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
          style="width: 100%">
      </div>
    </div>
</div>

<div class="container alert alert-danger" role="alert" [hidden]="!hasError">
    An error occurred
</div>

<div class="new-entries container" [hidden]="notificationMessage === ''">
    <div (click)="displayNewEntries()" class="alert alert-info" role="alert">
        <div>{{ notificationMessage }}</div>
    </div>
</div>

<div class="container" *ngFor="let feed of feeds" [hidden]="!hasResult">
    <div *ngIf="feed.feeds.length > 0">
    <h2>{{ feed.feeds[0].feed }}</h2>
    <ul class="list-unstyled">
        <li *ngFor="let content of feed.feeds">
            <a target="_blank" href="{{content.link}}">{{ content.title }}</a>
            <small class="text-muted">{{ content.published }}</small>
        </li>
    </ul>
    </div>
</div>
